<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>BandStalker</title>

    <!--Mapbox-->
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <!--Mapbox GL
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>-->
    <!--Font Awesome-->
    <link rel="stylesheet" href="stylesheets/css/libs/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">-->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/css/app.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div class="row nav-row">
        <nav>
            <div class="nav-wrapper valign-wrapper">
                <a href="#" id="logo">Bandstalker</a>
                <div class="img-wrapper">
                    <img src="images/002-people.png" alt="">
                    <img src="images/001-minivan.png" alt="">
                </div>
                <div class="col m2 right hide-on-small-only" id="search-container">
                    <form id=search-form>
                        <input id="search" type="text" name="search" value="Search...">
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row content-row">
        <!--Artist Content-->
        <div class="col s12 m6" id="artist-container">
            <div class="row artist-header-row">
                <div class="col s12" id="artist-header">
                    <div class="img-wrapper left">
                        <img src="images/avatar.png" alt="" id="avatar" class="responsive-img">
                    </div>
                    <div id="artist-name" class="left">
                        <h4>Into it. Over it.</h4>
                        <ul>
                            <li>Alternative</li>
                            <li>Emo</li>
                            <li>Rock</li>
                            <li>Punk</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12" id="artist-tabs">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#information" class="active">Information</a></li>
                        <li class="tab col s3"><a href="#top-tracks">Top Tracks</a></li>
                        <li class="tab col s3"><a href="#discography">Discography</a></li>
                        <li class="tab col s3"><a href="#events">Events</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12" id="information">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsum perferendis quae ipsa voluptate dolorem repellat explicabo hic iure laboriosam veritatis, earum ratione optio magnam provident, exercitationem fugit et eaque.
                    </p>
                </div>
                <div class="col s12" id="top-tracks" hidden>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt deserunt facere accusantium rem nobis necessitatibus eum velit atque ab voluptatum aperiam dicta numquam, tempore voluptate? Dicta culpa provident fuga! Alias ullam cum nihil id quod dolore distinctio aliquid molestias nemo sint quas qui aliquam officia iure fuga ex vel sapiente inventore, fugiat asperiores commodi ea impedit nam deserunt! Commodi incidunt facilis nesciunt consequuntur provident saepe aliquid, soluta rerum eligendi molestiae ipsam. In sint voluptates corrupti rem, deleniti adipisci, doloribus ipsa illo provident impedit excepturi culpa amet nulla cum reprehenderit, natus officiis ad sunt unde qui ea iusto et. Minus, rem!
                    </p>
                </div>
                <div class="col s12" id="discography" hidden>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta suscipit assumenda sint, nemo ullam temporibus beatae minus culpa aliquid molestias, maiores magnam. Ducimus veniam nam saepe sed inventore, odio nisi quas repellendus eum dolor vel sint aperiam, illum fugit numquam omnis nobis in repellat animi error non ipsa architecto tempora sunt. Voluptates ullam quibusdam, cumque optio, vero molestias perferendis labore iste suscipit deserunt repellendus quidem itaque aspernatur doloremque quos dicta nobis eaque deleniti culpa minus vitae delectus corporis rerum recusandae. Harum itaque deserunt, maiores, officia blanditiis amet, doloremque accusamus aperiam totam alias animi iste nostrum iusto sit at. Repellat, iusto.
                    </p>
                </div>
                <div class="col s12" id="events" hidden>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur odio eum, in qui odit modi libero fuga numquam culpa, voluptas doloremque beatae, repudiandae maiores ex rerum consequuntur reiciendis. Maiores placeat nihil omnis dolores porro dolorum, voluptas aliquam nobis fugit cum id optio voluptate, dolore sequi, aut? Similique temporibus, a!
                    </p>
                </div>
            </div>
        </div>
    </div>

        <!--Map Content-->
    <div id="map-container">
        <div id='map' style='width: 100%; height: 600px;'></div>
    </div>









    <!--Search Overlay-->
    <div id="overlay-search-container">
        <div class="overlay-content">
            <div id="overlay-search-header">
                <span id="overlay-search-text">Search</span>
                <span id="overlay-search-close"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div id="overlay-search">
                <input id="overlay-search-input" type="text">
            </div>
            <ul id="overlay-search-results">
            </ul>
        </div>
    </div>



    <!--Mapbox-->
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <!--Mapbox GL
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />-->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- lodash -->
    <script type="text/javascript" src="javascripts/libs/lodash.custom.min.js"></script>
    <!-- Bootstrap -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>-->
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!-- JavaScript -->
    <!--<script src="assets/javascript/app.js"></script>-->
    <script src="javascripts/search.js"></script>
    <script src="javascripts/map.js"></script>
</body>

</html>