<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class='container'>
        <div class="row tabs-container">
            <ul class="tabs">
                <li class="col-xs-9 tab current"><a href="#bio"><span class='visible'>Bio</span></a></li>
                <li class="col-xs-1 tab"><a href="#tracks"><span>Top Tracks</span></a></li>
                <li class="col-xs-1 tab"><a href="#albums"><span>Albums</span></a></li>
                <li class="col-xs-1 tab"><a href="#events"><span>Events</span></a></li>
            </ul>
        </div>
        <div id="bio" class="col-xs-12 panels visible">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sapiente odit obcaecati voluptate in possimus
                ducimus similique cupiditate ad. Numquam architecto ipsam sint assumenda eos! Culpa neque nobis optio voluptates.</p>
        </div>
        <div id="tracks" class="col-xs-12 panels">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam soluta, provident illum optio molestiae earum,
                voluptas dolorem totam delectus dicta amet eligendi obcaecati expedita quam rem nemo esse non repellat fugit
                neque. Officiis eum, itaque qui nesciunt omnis quidem aut provident ratione laboriosam error impedit ipsa,
                odio repellat quos eveniet sequi quisquam vero voluptatum atque a pariatur iure ad saepe ullam! Expedita
                tempore tenetur, in suscipit ratione, placeat facere eum ipsa magni dolor aperiam sit doloremque, alias magnam.
                Id rerum architecto et nam consectetur debitis labore autem, impedit non deserunt tempora, sint sunt hic
                cupiditate nemo. Excepturi qui, porro voluptates.</p>
        </div>
        <div id="albums" class="col-xs-12 panels">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aut fugiat dolorum necessitatibus, maxime expedita
                eaque quidem corrupti alias quos animi hic tenetur recusandae voluptas! Illum praesentium sapiente iure eaque
                qui suscipit debitis dignissimos deserunt minima magni amet, explicabo odio nulla tempore necessitatibus,
                hic error molestias! Velit ab, sed non.</p>
        </div>
        <div id="events" class="col-xs-12 panels">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam repellat, alias illo vero perspiciatis
                fugit veritatis ut adipisci maxime quo. Tenetur doloremque iusto reprehenderit, deserunt placeat enim illum!
                Magnam sequi ipsum veniam delectus voluptatum est doloribus fugiat eius repudiandae aspernatur hic, error
                porro rem nostrum sint minus ab. Aperiam ab accusamus, magnam officia laudantium ut repellendus eligendi
                odit. Eligendi dicta dolorum maxime eveniet inventore voluptate modi quia iure tempora perspiciatis quas
                voluptas est illo nisi, provident sequi facere sapiente, suscipit porro tenetur nobis. Quae, dolore! Impedit,
                facilis. Consectetur est voluptates, eos deserunt deleniti distinctio, doloremque eum animi beatae quis!</p>
        </div>
    </div>
</body>

</html>