@import 'variables'
@import 'grid'

html,
body
    margin: 0
    padding: 0
    color: $white
    font-family: $body
h1,
h2,
h3,
h4,
h5,
h6
    font-family: $heading

p, li
    color: #adb7bd

a
    color: $orange