#artist-container
    // height: 100vh
    background-color: darken($dark, 5%)
    padding: 0
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

#artist-header
    height: 150px
    padding: 10px 0
    background-color: lighten($dark, 2%)
    border: 1px solid $dark
    .img-wrapper
        display: inline-block
        height: 100%
        margin: 0 10px
        img
            margin: 5px
            padding: 5px
            height: 90%
            border-radius: 50%
            box-shadow: 0 0 0 2pt white
    #artist-name
        height: 100%
        h4
            text-transform: uppercase
            letter-spacing: 2px
        ul
            li
                display: inline-block
                letter-spacing: 1px
            li:after
                content: " | "
            li:last-child:after
                content: " "

#artist-tabs
    padding: 0
    ul
        background-color: lighten($dark, 5%)
    li
        a
            font-weight: bold
            letter-spacing: 1px
            color: $white
            text-decoration: none
        a:hover
            color: $blue
        

.indicator
    background-color: $blue !important
.active
    color: $blue !important
