#artist-container
    // height: 100vh
    background-color: $darkblack
    padding: 0
    border: 1px solid lighten($black, 5%)
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

#artist-header
    display: table
    height: 150px
    padding: 10px 0
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    background-color: $black
    .img-wrapper
        display: table-cell
        margin: 0 10px
        img
            margin: 5px
            padding: 5px
            height: 128px
            border-radius: 50%
            box-shadow: 0 0 0 2pt white
        i
            font-size: 128px
    #artist-name
        display: table-cell
        vertical-align: middle
        h4
            text-transform: uppercase
            letter-spacing: 2px
        ul
            li
                display: inline-block
                letter-spacing: 1px
            li:after
                content: " | "
            li:last-child:after
                content: " "

#artist-tabs
    padding: 0
    ul
        background-color: $darkblack
    li
        a
            font-weight: bold
            letter-spacing: 1px
            color: $white
            text-decoration: none
        a:hover
            color: $orange
        

.indicator
    background-color: $orange !important
.active
    color: $orange !important

p
    color: $white

#information, #top-tracks, #discography, #events
    background-color: $black

#information
    p
        font-family: $secondary
