body, html
    background-color: $dark
    font-family: 'Open Sans', sans-serif
    color: $white

.content-row
    z-index: -1
    position: absolute
    top: 100px
    left: 50px
    width: 40%
    height: auto

.nav-row
    margin-bottom: 0

.artist-header-row
    margin-bottom: 0

@import 'navbar'
@import 'search'
@import 'map'
@import 'artist'