nav
    background-color: lighten($dark, 5%)

#logo
    font-size: 40px
    padding: 0 15px
    letter-spacing: 5px

.nav-wrapper
    img
        padding-left: 15px
        padding-right: 100px !important
        height: 40px