body, html
    background-color: $dark
    font-family: 'Open Sans', sans-serif
    color: $white

.content-row
    margin-bottom: 0

.nav-row
    margin-bottom: 0

.artist-header-row
    margin-bottom: 0

@import 'navbar'
@import 'search'
@import 'map'
@import 'artist'